<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276878277135-chh564o4od40d7nkg9el66dijo5li8cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276878277135-chh564o4od40d7nkg9el66dijo5li8cq</string>
	<key>API_KEY</key>
	<string>AIzaSyBsOSM1WdzspxQN0cvdOzbBMsNhRmzlovM</string>
	<key>GCM_SENDER_ID</key>
	<string>276878277135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBasic6</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-d2aa2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-d2aa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276878277135:ios:ef0459448b68287626417a</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-d2aa2.firebaseio.com</string>
</dict>
</plist>